.about{
	margin-bottom: 90px;
	&-title{
		margin-bottom: 30px;
		max-width: 70%;
		font-size: 24px;
	}
	&-descr{
		margin-bottom: 20px;
	}
}
.more{
	text-transform: uppercase;
	color: $brown-main;
	font-weight: 400;
	font-size: 18px;
	&:hover{
		color: $light-beige;
	}
}