$main-color:#fc5a1f;
$header-top-bg:#433e3d;
$header-top-nav:#b3a290;
$header-bottom-link:#433c3a;
$light-beige:#e5d2c4;
$card-title:#424140;
$green-common: #25bf17;
$red-common: #ff0000;
$brown-main: #635b52;
$hover-link:#ff733f;
$main-btn:#ff733f;
