@import"resetCss";
@import"fontello";
@import"colors";
@import"header";
@import"mainSlider";
@import"common";
@import"popularGoods";
@import"discountedGoods";
@import"about";
@import"news";
@import"footer";
@import"404";
@import"categories";
@import"bread";
@import"catalog";
@import"filters";
@import"product";
@import"tabs";
@import"card";
@import"basket";



body {
  min-width: 320px;
  font-family: 'Roboto Slab', serif;
}
.container{
  margin: 0 auto;
  max-width: 1320px;
  width: 95%;
}
 .container-card {
   margin: 0 auto;
   max-width: 1320px;
   width: 95%;
 }

@import"media";